@import "../../../styles/base/colors";

h4 {
  color: $font_white;
}

.form-group {
  margin: 20px 0px;
}

button {
  background-color: $font_yellow;
}

p {
  color: $font_white;
  margin-top: 15px;
}

a {
  color: $font_yellow;
}
